h1{
    color: blue;
    font-family: Arial, sans-serif;
    text-align: center;
}
p{
    color: green;
    font-size: 21px;
    text-align: center;
}
span{
    color: red;
    font-weight: bold;
    text-align: center;
}
img{
    width: 300px;
    height: 300px;
    display: block;
    margin: 0 auto;
    border-radius: 20%;
}